/* @import url('style.css'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

.section-title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 3px;
  border-radius: 10px;
  @apply bg-rose-600;
}

.link {
  @apply inline-block w-full rounded bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-rose-700 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto;
}

.link-white {
  @apply block w-full rounded bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow hover:bg-gray-100 hover:text-rose-700 focus:outline-none focus:ring active:text-rose-500 sm:w-auto;
}

.centered {
  @apply flex items-center justify-center;
}

.map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #e11d48;
}
